@charset "UTF-8";

.drq{text-align: center;}
/* #ft1{border-top: 1px solid #c29963;} */
.rows{margin: -100px 200px;}
#detail{color: #c29963; margin-left: 230px;}
.img11{width: 800px;}
/* #ft2{border-top: 1px solid #c29963;} */
.review{color: #c29963;}
/* #ft3{border-top: 1px solid #c29963;} */
.grim{width: 530px; height: 530px;}
.grim2{width: 80px; height: 80px;}
.cart{margin-right: 6px;}
.sd{opacity: 1}
.mySlides{margin-top: -500px;}