@charset "UTF-8";

.shop-select{
	float:right;
	position: relative;
	height: 0px;
}

.shop-name-select{
	margin: 0;
  	font-family: inherit;
 	font-size: 13px;
  	line-height: inherit;
  	text-transform: none;
  	text-align: left;
  	color: #dbdbc6;
	background-color: transparent;
	
	display: inline-block;
	width: 95%;
  	height: 1 rem;
  	padding: 0.375rem 0.75rem 0.375rem 0.75rem;
  	line-height: 1.5;
  	vertical-align: middle;
/*   	background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center; */
/*   	background-size: 8px 10px; */
  	border: 1px solid #ced4da;
 	 border-radius: 0.25rem;
/*   	-webkit-appearance: none; */
  	-moz-appearance: none;
  	appearance: none;
}

.sop-01{
	background-color: #111113;
}

.ss-1 {
	margin-left: 5px;
	margin-right: 5px;
}

.sbm {
	margin-top: 50px;
	margin-right: 15px;
	letter-spacing: 5px;
}

.cnl {
	letter-spacing: 5px;
}

.join {
	margin-left: 5px;
}

.fg {
	font-size: 12px;
}

.fgdiv {
	margin-top: 0px;
}

#frm{
/* 	display: none; */
}
 .taste{
  height: 930px;
  margin-top: 50px;
  overflow: hidden;
  
}
.taste-01{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  opacity: 1;
}
.taste-02{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  opacity: 1;
}
.taste-03{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  opacity: 1;
}
.taste-04{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  opacity: 1;
}
.taste-05{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  opacity: 1;
}

.quick {
	border: 1px solid #c29963;
	position: fixed;
	right: 15%;
	bottom: 10%;
	width: 110px;
	height: 342px;
	z-index: 9999;
	text-align: center;
} 
.quick ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.quick li {
	display: inline-block;
	margin: 0px 9px;
}
.quick div{
	display: inline-block;
}
.quick .quick_bottom img {
	color: white;
}
.tabcontent {
  color: white;
  display: none;
  padding: 4px 1px;
  height: 80%;
  border: lime;
}
.tablink {
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  width: 33%;
}
.tablink:hover {
  background-color: #e2e2e2;
}
.quick .tabcontent a>img {
	width: 90px;
	height: 80px;
}
.hide-menu {
    display: none;
}
.fadeIn {
	visibility : visible;
	opacity: 1;
	transition : visibility 0s 0s, opacity .3s 0s;
}
	 	
.fadeOut {
	visibility : hidden;
	opacity: 0;
	transition : visibility 0s .3s, opacity .3s 0s; 
}

.container8 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
/*   @media (min-width: 576px) { */
/*     .container8 { */
/*       max-width: 540px; } } */
/*   @media (min-width: 768px) { */
/*     .container8 { */
/*       max-width: 720px; } } */
/*   @media (min-width: 992px) { */
/*     .container8 { */
/*       max-width: 960px; } } */
/*   @media (min-width: 1200px) { */
/*     .container8 { */
/*       max-width: 1140px; } } */

.container8-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  
  .navbar > .container8,
  .navbar > .container8-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    
    @media (max-width: 575.98px) {
  .navbar-expand-sm > .container8,
  .navbar-expand-sm > .container8-fluid {
    padding-right: 0;
    padding-left: 0; } }
    
    .navbar-expand-sm > .container8,
    .navbar-expand-sm > .container8-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
      
      @media (max-width: 767.98px) {
  .navbar-expand-md > .container8,
  .navbar-expand-md > .container8-fluid {
    padding-right: 0;
    padding-left: 0; } }
    
     .navbar-expand-md > .container8,
    .navbar-expand-md > .container8-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
      
      @media (max-width: 991.98px) {
  .navbar-expand-lg > .container8,
  .navbar-expand-lg > .container8-fluid {
    padding-right: 0;
    padding-left: 0; } }
    
    .navbar-expand-lg > .container8,
    .navbar-expand-lg > .container8-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
      
      @media (max-width: 1199.98px) {
  .navbar-expand-xl > .container8,
  .navbar-expand-xl > .container8-fluid {
    padding-right: 0;
    padding-left: 0; } }
    
    .navbar-expand-xl > .container8,
    .navbar-expand-xl > .container8-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
      
      .navbar-expand > .container8,
  .navbar-expand > .container8-fluid {
    padding-right: 0;
    padding-left: 0; }
    
    .navbar-expand > .container8,
  .navbar-expand > .container8-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    
    .container8 {
    min-width: 992px !important; }
    
    .ftco-intro .container8-wrap {
  z-index: 2 !important;
  position: relative; }
  
  .mfp-container8 {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  
  .mfp-container8 {
  opacity: 1; }
  
  .mfp-container8,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0; }


